{% extends "base.html" %}
{% block a4_content %}
<div class="a4-host">
  <div class="a4-scroller">
    <div class="a4-viewport">
      <section class="a4-page">

        <div class="sheet-header">
        <div class="meta-line">
            <div class="meta-item">Градилиште: <span class="dotted"></span></div>
            <div class="meta-item">Сектор: <span class="dotted"></span></div>
            <div class="meta-item">Објекат: <span class="dotted"></span></div>
        </div>

        <div class="title-line">
            <div class="title">Обрачунски лист грађевинске књиге</div>
            <div class="list-number">Лист број ..........</div>
        </div>
        </div>

        <!-- META BLOK -->
<table class="meta-table join-bottom">
  <colgroup>
    <col style="width:38%">
    <col style="width:16%">
    <col style="width:14%">
    <col style="width:16%">
    <col style="width:16%">
  </colgroup>
  <tr>
    <td colspan="2">Врста радова: <span class="dotted"></span></td>
    <td>Град. норма <span class="dotted"></span><br><span class="small">Шифра</span> <span class="dotted w60"></span></td>
    <td>Обрач. нацрта бр. <span class="dotted"></span></td>
    <td>Поз. предрач. бр. <span class="dotted"></span></td>
  </tr>
  <tr>
    <!-- samo Јединична цена levo, Мера desno -->
    <td colspan="4">Јединична цена дин. <span class="dotted"></span> <span class="small">по</span> <span class="dotted w60"></span></td>
    <td>Мера <span class="dotted w60"></span></td>
  </tr>
</table>

        <!-- GLAVNI GRID -->
        <div class="grid-flex">
        <table class="grid-main">
            <colgroup>
            <col style="width:60%">
            <col style="width:20%">
            <col style="width:20%">
            </colgroup>
            <thead>
            <tr>
                <th>A, B, A+B</th>
                <th>Месечно</th>
                <th>Укупно</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tall"><textarea class="sheet-input"></textarea></td>
                <td class="tall"><textarea class="sheet-input right"></textarea></td>
                <td class="tall"><textarea class="sheet-input right"></textarea></td>
            </tr>
            </tbody>
        </table>
        </div>

        <!-- POTPISI -->
        <div style="margin-top:10mm; display:flex; justify-content:space-between;">
          <div>Izradio: _____________________</div>
          <div>Overio: _____________________</div>
        </div>

      </section>
    </div>
  </div>
</div>
{% endblock %}

